* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    width: fit-content;
    height: fit-content;
}

.Tripadvisor-head {
    padding-left: 50px;
    margin-left: 30px;
    padding-top: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.Tripadvisor-head h3 {
    padding-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.sign-in {
    padding: 10px;
    margin: 10px;
    width: 70px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.sign-in h4 {
    background-color: black;
    color: white;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

.icon-img {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.icon-img .logo {
    width: 30px;
    position: relative;
    left: 50px;
    bottom: 20px;
    width: 20px;
    background-color: blue;
    border: solid black 1px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
}

.icon-img .three {
    width: 30px;
    position: relative;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
}


.head-h1 {
    font-weight: bolder;
    font-size: larger;
    position: relative;
    top: 100px;
    flex-wrap: wrap;

}

.head-h1 h1 {
    position: relative;
    left: 550px;
    bottom: 80px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.navi .navigation {
    flex-direction: row;
    justify-content: center;
    padding-left: 1px;
}

.navi .navigation a {
    padding-left: 100px;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    margin-left: 80px;
}

.navi .navigation a:hover {
    border-bottom: solid black 2px;
}

.Navbar__s2 {
    padding: 5px;
    border: solid black 1px;
    border-radius: 30px;
    width: 87%;
    gap: 10px;
    align-items: center;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

}

.Navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    padding-left: 50px;
    padding-top: 10px;

}

.Navbar__s2 input:focus {
    outline: none;
    display: flex;
    flex-wrap: wrap;
}

.Navbar__s2 img {
    width: 20px;
    position: relative;
    margin-left: 30px;
    bottom: 20px;
    right: 20px;
}

.head-h1 .button button {
    padding: 20px;
    margin: 10px;
    padding-top: 20px;
    position: absolute;
    left: 1180px;
    top: 120px;
    background-color: rgb(131, 248, 131);
    border-radius: 20px;

}


.sale-image {
    display: inline-block;

}

.sale-image img {
    width: 100%;
    padding: 20px;
    margin: 20px;
}

.sale-image h2 {
    font-size: 40px;
    padding: 30px;
    margin: 10px;
    color: white;
    position: relative;
    left: 60px;
    bottom: 250px;
}

.sale-image p {
    padding: 30px;
    margin: 10px;
    color: white;
    position: relative;
    left: 65px;
    bottom: 320px;
}

.sale-image button {
    background-color: white;
    color: black;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    position: relative;
    left: 90px;
    bottom: 350px;
    border-radius: 40px;
}

.Traveller {
    display: inline;
    flex-wrap: wrap;
}

.Traveller .Traveller-2 h2 {
    padding: 30px;
    margin: 10px;
    color: black;
    position: relative;
    left: 25px;
    bottom: 320px;
}

.Traveller .Traveller-2 p {
    padding: 10px;
    margin: 10px;
    color: gray;
    position: relative;
    bottom: 350px;
    left: 45px;
}

.Traveller-items {
    display: flex;
    position: relative;
    bottom: 340px;
    padding-left: 30px;
    margin-left: 30px;
    gap: 10px;
    width: 10px;
    height: 8px;
}

.Traveller-items .Traveller-food img {
    width: 300px;
    height: 270px;
}

.Traveller-items .Traveller-food h3 {
    width: 300px;
    height: 270px;
    position: relative;
    bottom: 40px;
    left: 30px;
    color: white;
}


.card-set {
    display: flex;
    flex-wrap: wrap;
    background-color: #FF5C5D;
    width: 1250px;
    height: 510px;
    padding: 20px;
    margin: 20px;
    position: relative;
}

.card {
    width: 1250px;
    height: 310px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-top-left-radius: 10px;
}

.card img {
    width: 600px;
    height: 400px;
    padding-right: 20px;
    margin-right: 20px;
    padding-top: 40px;
    margin-top: 40px;
    border-right: solid black 2px;
    border-radius: 1px;

}

.card h1 {
    position: relative;
    font-size: 60px;
    font-family: sans-serif;
    width: 380px;
    height: 10px;
    left: 670px;
    bottom: 440px;
}

.card p {
    position: relative;
    font-family: sans-serif;
    width: 300px;
    height: 10px;
    left: 670px;
    bottom: 170px;
}

.card button {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 20px;
    position: relative;
    left: 650px;
    bottom: 130px;
    border-radius: 20px;
}

.chennai-1 {
    display: inline;
    flex-wrap: wrap;
}

.chennai-1 .chennai-1-des h2 {
    padding: 30px;
    margin: 10px;
    color: black;
    position: relative;
    left: 25px;
    bottom: 20px;
}

.chennai-1 .chennai-1-des p {
    padding: 10px;
    margin: 10px;
    color: gray;
    position: relative;
    bottom: 45px;
    left: 45px;
}

.chennai-1-img {
    display: flex;
    position: relative;
    bottom: 30px;
    padding-left: 30px;
    margin-left: 30px;
    gap: 10px;
    width: 10px;
    height: 8px;
}

.chennai-1-img .chennai-1-img-3 img {
    width: 300px;
    height: 270px;
}

.chennai-1-img .chennai-1-img-3 h3 {
    width: 300px;
    height: 270px;
    position: relative;
    bottom: 40px;
    left: 30px;
    color: white;
}

.Asian {
    display: inline;
    flex-wrap: wrap;
    position: relative;
    top: 440px;
}

.Asian .Asian-des h2 {
    padding: 30px;
    margin: 10px;
    color: black;
    position: relative;
    left: 25px;
    bottom: 20px;
}

.Asian .Asian-des p {
    padding: 10px;
    margin: 10px;
    color: gray;
    position: relative;
    bottom: 45px;
    left: 45px;
}

.Asian-img {
    display: flex;
    position: relative;
    bottom: 30px;
    padding-left: 30px;
    margin-left: 30px;
    gap: 10px;
    width: 10px;
    height: 8px;
}

.Asian-img .Asian-img-3 img {
    width: 300px;
    height: 270px;
}

.Asian-img .Asian-img-3 h3 {
    width: 300px;
    height: 270px;
    position: relative;
    bottom: 40px;
    left: 30px;
    color: white;
}


.more-explore {
    display: inline;
    flex-wrap: wrap;
    position: relative;
    top: 900px;
}

.more-explore .more-explore-des h2 {
    padding: 30px;
    margin: 10px;
    color: black;
    position: relative;
    left: 25px;
    bottom: 20px;
}

.more-explore-img {
    display: flex;
    position: relative;
    bottom: 30px;
    padding-left: 30px;
    margin-left: 30px;
    gap: 50px;
    width: 10px;
    height: 10px;
}

.more-explore-img .more-explore-img-3 img {
    width: 380px;
    height: 210px;
}

.more-explore-img .more-explore-img-3 h4 {
    width: 360px;
    height: 70px;
    padding: 10px;
    align-items: center;
    background-color: sandybrown;
}


.dream {
    display: inline;
    flex-wrap: wrap;
    position: relative;
    top: 1300px;
}

.dream .dream-des h2 {
    padding: 30px;
    margin: 10px;
    color: black;
    position: relative;
    left: 25px;
    bottom: 20px;
}

.dream .dream-des p {
    padding: 10px;
    margin: 10px;
    color: black;
    position: relative;
    bottom: 45px;
    left: 45px;
}

.dream-img {
    display: flex;
    position: relative;
    bottom: 30px;
    padding-left: 30px;
    margin-left: 30px;
    gap: 10px;
    width: 10px;
    height: 8px;
}

.dream-img .dream-img-3 img {
    width: 300px;
    height: 270px;
}

.dream-img .dream-img-3 h3 {
    width: 300px;
    height: 270px;
    position: relative;
    bottom: 40px;
    left: 30px;
    color: white;
}


.hoilday {
    display: inline;
    flex-wrap: wrap;
    position: relative;
    top: 1700px;
}

.hoilday .hoilday-des h2 {
    padding: 30px;
    margin: 10px;
    color: black;
    position: relative;
    left: 25px;
    bottom: 20px;
}

.hoilday .hoilday-des p {
    padding: 10px;
    margin: 10px;
    color: black;
    position: relative;
    bottom: 45px;
    left: 45px;
}

.hoilday-img {
    display: flex;
    position: relative;
    bottom: 30px;
    padding-left: 30px;
    margin-left: 30px;
    gap: 10px;
    width: 10px;
    height: 8px;
}

.hoilday-img .hoilday-img-3 img {
    width: 300px;
    height: 270px;
}

.hoilday-img .hoilday-img-3 h3 {
    width: 300px;
    height: 270px;
    position: relative;
    bottom: 40px;
    left: 30px;
    color: white;
    font-size: 25px;
}

.Home {
    display: inline;
    flex-wrap: wrap;
    position: relative;
    top: 2100px;
}

.Home .Home-des h2 {
    padding: 30px;
    margin: 10px;
    color: black;
    position: relative;
    left: 25px;
    bottom: 20px;
}

.Home .Home-des p {
    padding: 10px;
    margin: 10px;
    color: black;
    position: relative;
    bottom: 45px;
    left: 45px;
}

.Home-img {
    display: flex;
    position: relative;
    bottom: 30px;
    padding-left: 30px;
    margin-left: 30px;
    gap: 10px;
    width: 10px;
    height: 8px;
}

.Home-img .Home-img-3 img {
    width: 300px;
    height: 270px;
    position: relative;
    left: 5px;
}

.Home-img .Home-img-4 p {
    width: 200px;
    height: 270px;
    display: flex;
    font-size: 25px;
}

.Home-img .home-1-img-3 h5 {
    width: 300px;
    height: 270px;
    position: relative;
    bottom: 40px;
    left: 50px;
    font-size: 70px;
    text-align: center;
    color: white;
}

.images img {
    position: relative;
    top: 400px;
    width: 90%;
    height: 40%;
    padding: 20px;
    margin: 20px;
}

.images-des h1 {
    position: relative;
    bottom: 120px;
    left: 100px;
    color: white;
}

.images-des p {
    position: relative;
    bottom: 100px;
    left: 100px;
    width: 450px;
    display: flex;
    font-size: 25px;
}

.images-button button {
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    position: relative;
    bottom: 70px;
    left: 90px;
    border-radius: 50px;
}

.footer {
    position: relative;
    top: 300px;
    padding: 10px;
    background-color: sandybrown;
    display: flex;
    gap: 50px;
}

.footer h2 {
    padding: 5px;
    gap: 10px;
}

.footer p {
    padding: 5px;
}