* {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    width: fit-content;
    height: fit-content;
}

.Tripadvisor-head {
    padding-left: 50px;
    margin-left: 30px;
    padding-top: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.Tripadvisor-head h3 {
    padding-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.sign-in {
    padding: 10px;
    margin: 10px;
    width: 70px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.sign-in h4 {
    background-color: black;
    color: white;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

.icon-img {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.icon-img .logo {
    width: 30px;
    position: relative;
    left: 50px;
    bottom: 20px;
    width: 20px;
    background-color: blue;
    border: solid black 1px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
}

.icon-img .three {
    width: 30px;
    position: relative;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
}

.head-h1 {
    font-weight: bolder;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 100px;

}

.head-h1 h1 {
    position: relative;
    left: 550px;
    bottom: 80px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
     display: flex;
    flex-wrap: wrap;
}

.navi .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1px;
    flex-wrap: wrap;
}

.navi .navigation a {
    padding-left: 100px;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
}

.navi .navigation a:hover {
    border-bottom: solid black 2px;
    display: flex;
    flex-wrap: wrap;
}

.Navbar__s2 {
    padding: 5px;
    border: solid black 1px;
    border-radius: 30px;
    width: 87%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 100px;
    margin-top: 30px;
    flex-wrap: wrap;

}

.Navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    display: flex;
    padding-left: 50px;
    padding-top: 10px;
     display: flex;
    flex-wrap: wrap;

}

.Navbar__s2 input:focus {
    outline: none;
     display: flex;
    flex-wrap: wrap;
}

.Navbar__s2 img {
    width: 20px;
    position: relative;
    margin-left: 30px;
    bottom: 20px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
}

.head-h1 .button button {
    padding: 20px;
    margin: 10px;
    padding-top: 20px;
    position: absolute;
    left: 1190px;
    top: 120px;
    background-color: rgb(131, 248, 131);
    border-radius: 20px;
     display: flex;
    flex-wrap: wrap;

}

.card {
    background-color: #FF5C5D;
    width: 1200px;
    height: 510px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 20px;
    margin-left: 20px;
    padding-top: 30px;
    margin-top: 30px;
     display: flex;
    flex-wrap: wrap;
}

.card img {
    width: 600px;
    height: 400px;
    background-color: #FF5C5D;
    padding-right: 20px;
    margin-right: 20px;
    padding-top: 40px;
    margin-top: 40px;
    border-right: solid black 2px;
    border-radius: 1px;
     display: flex;
    flex-wrap: wrap;

}

.card h1 {
    position: relative;
    font-size: 60px;
    font-family: sans-serif;
    width: 390px;
    height: 10px;
    left: 650px;
    bottom: 440px;
    background-color: #FF5C5D;
     display: flex;
    flex-wrap: wrap;
}

.card p {
    position: relative;
    font-family: sans-serif;
    width: 300px;
    height: 10px;
    left: 650px;
    bottom: 170px;
    background-color: #FF5C5D;
     display: flex;
    flex-wrap: wrap;
}

.card button{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 20px;
    position: relative;
    left: 630px;
    bottom: 130px;
    border-radius: 20px;
     display: flex;
    flex-wrap: wrap;
}
